 apiKey: "AIzaSyCt3bcaX5D1qfqSRmjSywEZ3CRoqmHR8qY",
  authDomain: "school-winfield.firebaseapp.com",
  projectId: "school-winfield",
  storageBucket: "school-winfield.firebasestorage.app",
  messagingSenderId: "1007235120326",
  appId: "1:1007235120326:web:de31503a70b35c9f02ebc7",
  measurementId: "G-NC5X6R7JPY"
